/* Navbar */
* {
    margin: .2%;
    padding: .2%;
  }

  .home {
    height: .2%;
    width: 5%;
}

.portfolio {
    height: .2%;
    width: 5%;
}

  .fb {
    height: .2%;
    width: 5%;
  }

  .ig {
    height: .2%;
    width: 5%;
  }
  
  .email {
    height: .2%;
    width: 5%;
}

.phone {
    height: .2%;
    width: 5%;
}

.shop {
    height: .2%;
    width: 5%;
}

.autos {
  display: flex;
  justify-content: flex-start;
}

.fonts {
  -webkit-text-size-adjust: .5px;
}


  .main-text {
    display: flex;
    flex: 6;
    background-color: rgb(255, 255, 255);
    gap: 5px;
  }

  section {
    flex: 1;
    background-color: rgb(157, 27, 250);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer {
    flex: 1;
    background-color: red;
  }
  
  
  /* BLOG */
  
/* Icons */

/* CASES */

/* TEAM IMAGES */

/* CALLBACK FORM  */

/* Post */

/* FOOTER */

/* MOBILE - anything under tablet or less*/


body { 
   background-image: url('/My-Webpage-main/Images/cars/bmw1.jpg');
background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
   }

